
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<base href="https://brand1.pingapac.com/"/>
		<link href="assets/consent/font-awesome.css" rel="stylesheet">
    	<link rel="stylesheet" href="assets/consent/foundation.css">
    	<link rel="stylesheet" href="assets/consent/app.css">
    	<link rel="stylesheet" href="assets/consent/layout.css">
    	<link rel="stylesheet" href="assets/consent/card-user-profile.css">
		<meta class="foundation-mq">
	</head>
	<body>

        <form method="post">
			<div class="grid-container" style="max-width: 600px">
				<div class="row align-center medium-unstack">
					<div class="medium-5 large-4 column">
						<div class="card-user-profile">
							<img class="card-user-profile-img" src="./assets/consent/transfer.png" alt="picture of space">
							<div class="card-user-profile-content card-section">
								<div class="card-user-profile-avatar">
									<img src="./assets/consent/logo.jpg" alt="picture of yeti">
								</div>
								<h1>Transfer Form - Denied</h1>
								<p class="card-user-profile-info">Hi Esko</p>
								
									<p class="card-user-profile-info" style="color: red;"><b>The amount you submitted exceeds your upper limit.</b></p>
									<p class="card-user-profile-info">Please press back to return to the form.</p>
									
							</div>
							<div class="card-user-profile-actions">
								<a href="/forms/" class="card-user-profile-button button hollow">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>


