<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <base href="$CurrentPingFedBaseURL"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data request</title>
	<link rel="icon" href="https://foundation.zurb.com/building-blocks/assets/consent/img/favicon/foundation-favicon.ico" type="image/x-icon">
	<link href="assets/consent/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/consent/foundation.css">
    <link rel="stylesheet" href="assets/consent/app.css">
    <link rel="stylesheet" href="assets/consent/layout.css">
    <link rel="stylesheet" href="assets/consent/card-user-profile.css">
    <meta class="foundation-mq">
    #if($captchaEnabled)
        <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    #end
</head>

<body onload="setFocus();isWebAuthnPlatformAuthenticatorAvailable();">
    <form method="POST" action="$url" autocomplete="off">
		<div class="grid-container" style="max-width: 600px">
			<div class="row align-center medium-unstack">
				<div class="medium-5 large-4 column">
					<div class="card-user-profile">
						<img class="card-user-profile-img" src="./assets/consent/background.png" alt="picture of space">
						<div class="card-user-profile-content card-section">
							<div class="card-user-profile-avatar">
								<img src="./assets/consent/logo.jpg" alt="picture of yeti">
							</div>
							<h1>Log into SaidBank</h1>
							#if($authnMessageKey)
								<p class="card-user-profile-info" style="color:red">$templateMessages.getMessage($authnMessageKey)</p>
							#end
							#if($errorMessageKey)
								<p class="card-user-profile-info" style="color:red">$templateMessages.getMessage($messageKeyPrefix, $errorMessageKey)</p>
							#end

							## Uncomment below to display any additional server error:
							#*
							#if($serverError)
								<p class="card-user-profile-info" style="color:red">$serverError</p>
							#end
							*#
							<p class="card-user-profile-info">Please provide your SaidBank credentials.</p>
							<label>Customer ID
								<input id="username" type="text" size="36" name="$name" value="$username" autocorrect="off" autocapitalize="off" onKeyPress="return postOnReturn(event)"/>
							</label>
							<label>Password
								<input id="password" type="password" size="36" name="$pass" onKeyPress="return postOnReturn(event)" />
							</label>
						
						</div>
                
						<!-- #recaptcha -->
						#if($captchaEnabled)
							<div id="recaptcha"
								 class="g-recaptcha recaptcha"
								 data-badge="bottomright"
								 data-sitekey=$siteKey
								 data-callback="submitForm"
								 data-size="invisible"></div>
						#end

						<input type="hidden" name="$ok" value="" />
						<input type="hidden" name="$cancel" value="" />
						<input type="hidden" name="$adapterIdField" id="$adapterIdField" value="$adapterId" />
						<div class="card-user-profile-actions">
							<a onclick="postCancel();" class="card-user-profile-button button hollow secondary">Cancel</a>
							<a onclick="postOk();" class="card-user-profile-button button hollow">Continue</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</form>

<script type="text/javascript">

	function postForgotPassword() {

		document.forms[0]['$passwordReset'].value = 'clicked';
		document.forms[0].submit();
	}

	function postRecoverUsername() {
		var target = "$recoverUsernameUrl";
		document.forms[0].action = target;
        document.forms[0]['$usernameRecovery'].value = 'clicked';
		document.forms[0].submit();
	}

	function postAlternateAuthnSystem(system) {
	    var variants = ["Biometrics", "Windows Hello", "Face ID",  "Touch ID"];
	    if(variants.includes(system)) system = "FIDO";
	    document.forms[0]['$alternateAuthnSystem'].value = system;
	    document.forms[0].submit();
	}


	function postRegistration()
    {
        document.forms[0]['$registrationValue'].value = true;
        document.forms[0].submit();
    }

    function postOk() {
        if ($captchaEnabled) {
            grecaptcha.execute();
        }
        else {
                submitForm();
        }
    }

    function submitForm()
    {
        document.forms[0]['$ok'].value = 'clicked';
        document.forms[0].submit();
        if($captchaEnabled) {
            grecaptcha.reset();
        }
    }

    function postCancel() {
        document.forms[0]['$cancel'].value = 'clicked';
        document.forms[0].submit();
    }

    function postOnReturn(e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            postOk();
            return false;
        } else {
            return true;
        }
    }

    function setFocus() {
        var platform = navigator.platform;
        if (platform != null && platform.indexOf("iPhone") == -1) {
            #if($loginFailed || ($rememberUsernameCookieExists && $enableRememberUsername) || $isChainedUsernameAvailable)
                document.getElementById('password').focus();
            #else
                document.getElementById('username').focus();
            #end
        }
    }

    function setMobile(mobile) {
        var className = ' mobile',
            hasClass = (bodyTag.className.indexOf(className) !== -1);

        if (mobile && !hasClass) {
            bodyTag.className += className;

        } else if (!mobile && hasClass) {
            bodyTag.className = bodyTag.className.replace(className, '');
        }

        #if($enableRememberUsername)
            checkbox.checked = mobile || remember;
        #end

        <!-- Check if this is the PingOne Mobile App -->
        #if($HttpServletRequest.getHeader('X-Ping-Client-Version'))
            if (mobile) {
                bodyTag.className += ' embedded';
            }
        #end
    }

    function getScreenWidth() {
        return (window.outerHeight) ? window.outerWidth : document.body.clientWidth;
    }

    var bodyTag = document.getElementsByTagName('body')[0],
        width = getScreenWidth(),
        remember = $rememberUsernameCookieExists && $enableRememberUsername;

    // set container
    #if($altAuthSources.size() > 0)
        bodyTag.className += ' columns-layout';
    #end

    #if($enableRememberUsername)
        var checkbox = document.getElementById('rememberUsername');
    #end

    if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        setMobile(true);
    } else {
        setMobile((width <= 480));
        window.onresize = function() {
            width = getScreenWidth();
            setMobile((width <= 480));
        }
    }

    function IsWebAuthnSupported() {
        if (!window.PublicKeyCredential) {

            console.log("Web Authentication API is not supported on this browser.");
            return false;
        }

        return true;
    }

    function isWebAuthnPlatformAuthenticatorAvailable() {

        theElement = document.getElementById("biometrics-div");
        if(theElement)
            theElement.style.display = "none";

        theElement = document.getElementById("windowshello-div");
        if(theElement)
             theElement.style.display = "none";

        theElement = document.getElementById("faceid-div");
        if(theElement)
            theElement.style.display = "none";

        theElement = document.getElementById("touchid-div");
        if(theElement)
            theElement.style.display = "none";

        var timer;

        var p1 = new Promise(function(resolve) {
            timer = setTimeout(function() {
                console.log("isWebAuthnPlatformAuthenticatorAvailable - Timeout");
                resolve(false);
            }, 300);
        });

        var p2 = new Promise(function(resolve) {

            if (IsWebAuthnSupported() && window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable) {

                resolve(
                    window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().catch(function(err) {
                        console.log(err);
                        return false;
                    }));
            }
            else {
                resolve(false);
            }
        });

        return Promise.race([p1, p2]).then(function (res) {
            clearTimeout(timer);
            console.log("isWebAuthnPlatformAuthenticatorAvailable - " +  res);

            if(res) {
                 theElement = document.getElementById("biometrics-div");
                 if(theElement)
                     theElement.style.display = "block";

                 theElement = document.getElementById("windowshello-div");
                 if(theElement)
                     theElement.style.display = "block";

                 theElement = document.getElementById("faceid-div");
                 if(theElement)
                     theElement.style.display = "block";

                 theElement = document.getElementById("touchid-div");
                 if(theElement)
                     theElement.style.display = "block";
            }

            return res;
        });
    }
</script>

</body>
</html>
